body {
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

header {
    display: flex;
    width: 100%;
}

nav-lista {
    display: flex;
    list-style: none;
color: #460946;
font-size: 40px;
text-transform: uppercase;
justify-content: center;
align-items: center;
gap: 28px;
}

.nav-item:hover {
    cursor: pointer;
     background-color: black;
     color: white;
}

    section {
        width: 100%;
        padding-left: 8%;
    }

    .secao {
        padding-top: 8%;
        padding-right: 2%;
    }

    .moldura_videos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }